<title-header title="Configuration Parameters"></title-header>
<div class="container-fluid">
    <div class="row">
        <div class="col-3 p-2">
            <button *ngFor="let cat of configRepository.categories" class="btn btn-block btn-outline-primary text-truncate"
                [class.active]="cat == selectedCategory" (click)="selectCategory(cat)">
                {{cat}}
            </button>
        </div>
        <div class="col-9 px-1">
            <div [ngSwitch]="selectedCategory">
                <div *ngSwitchCase="'Initiation'"><init-config id="pp-init-config"></init-config></div>
                <div *ngSwitchCase="'Features'"><features-config id="pp-feature-config"></features-config></div>
                <div *ngSwitchDefault><read-only-config [selectedCategory]="selectedCategory"></read-only-config></div>
            </div>
        </div>
    </div>
</div>
