
<details>
  <summary class="col-9 p-1">Picpass functionality:</summary>
  <feature-chkbx [featureName]="'quitOnCompletion'"></feature-chkbx>
  <!-- <checkbox-item [featureName]="'Close on completed max selection'"></checkbox-item> -->
  <feature-chkbx [featureName]="'refreshButton'"></feature-chkbx>
  <feature-chkbx [featureName]="'quitButton'"></feature-chkbx>
  <feature-chkbx [featureName]="'keywordsRevealHint'"></feature-chkbx>
</details>

<details>
  <summary class="col-9 p-1">Password related:</summary>
  <feature-chkbx [featureName]="'passwordConfiguration'"></feature-chkbx>
  <feature-chkbx [featureName]="'submitPassword'"></feature-chkbx>
  <feature-chkbx [featureName]="'resetPassword'"></feature-chkbx>
</details>

<details>
  <summary class="col-9 p-1">Hints functionality:</summary>
  <feature-chkbx [featureName]="'hintPanel'"></feature-chkbx>
  <feature-chkbx [featureName]="'textHint'"></feature-chkbx>
  <feature-chkbx [featureName]="'imageHint'"></feature-chkbx>
</details>

<details>
  <summary class="col-9 p-1">Keywords selection progress:</summary>
  <feature-chkbx [featureName]="'progressbarPanel'"></feature-chkbx>
  <feature-chkbx [featureName]="'coloredBorder'"></feature-chkbx>
  <div class="d-flex">
    <label class="col-6 p-1" [class.text-muted]="!configRepo.featureFeatureSettings">{{configRepo.featuresObj["progrebarPostions"][0]}}</label>
    <Input class="form-control col-3 mb-1" type="number" ngDefaultControl [(ngModel)]='configRepo.featuresObj["progrebarPostions"][1]'/>
  </div>
</details>

<details>
  <summary class="col-9 p-1">Textual keywords layout:</summary>
  <feature-chkbx [featureName]="'imageLayoutBegin'"></feature-chkbx>
  <feature-chkbx [featureName]="'toggleLayout'"></feature-chkbx>
</details>

<details>
  <summary class="col-9 p-1">Features permissions:</summary>
  <feature-chkbx [featureName]="'configurationSettings'"></feature-chkbx>
  <feature-chkbx [featureName]="'subscriberSettings'"></feature-chkbx>
  <feature-chkbx [featureName]="'premiumSubscriber'"></feature-chkbx>
  <feature-chkbx [featureName]="'exclusiveSubscriber'"></feature-chkbx>
  <feature-chkbx [featureName]="'featureSettings'"></feature-chkbx>
  <feature-chkbx [featureName]="'initSettings'"></feature-chkbx>
</details>

<button class=" col-12 btn btn-primary" (click)="onApply()">Apply change</button>


