
<div class="d-flex"
     [class.pp-removed]="!configRepo.featureUpdatePassword">
    <label class="col-3 p-1">Password:</label>
    <Input class="col-9 form-control ml-1 mb-1" type="text" ngDefaultControl [(ngModel)]='initObj["Password"]' />
</div>


<div class="d-flex">
    <label class="col-6 p-1">{{initObj['maxSelections'][0]}}:</label>
    <Input class="form-control col-3 mb-1" type="number" ngDefaultControl [(ngModel)]='initObj["maxSelections"][1]'/>
</div>

<details>
    <summary class="col-4 p-1"> Layout:</summary>

    <div class="d-flex">
        <label class="col-6 p-1">{{initObj['rows'][0]}}:</label>
        <Input class="form-control col-3 mb-1" type="number" ngDefaultControl [(ngModel)]='initObj["rows"][1]'/>

    </div>

    <div class="d-flex">
        <label class="col-6 p-1">{{initObj['cols'][0]}}:</label>
        <Input class="form-control col-3 mb-1" type="number" ngDefaultControl [(ngModel)]='initObj["cols"][1]'/>
    </div>

    <div class="d-flex">
        <label class="col-6 p-1">{{initObj['maxWidth'][0]}}:</label>
        <Input class="form-control col-3 mb-1" type="number" ngDefaultControl [(ngModel)]='initObj["maxWidth"][1]'/>
    </div>

    <div class="d-flex">
        <label class="col-6 p-1">{{initObj['layoutSelections'][0]}}:</label>
        <Input class="form-control col-3 mb-1" type="number" ngDefaultControl [(ngModel)]='initObj["layoutSelections"][1]'/>
    </div>

    <div class="d-flex">
      <label class="col-6 p-1">{{initObj['frameKeywords'][0]}}:</label>
      <Input class="form-control col-3 mb-1" type="number" ngDefaultControl [(ngModel)]='initObj["frameKeywords"][1]'/>
  </div>
</details>


<details>
    <summary class="col-4 p-1"> Keywords:</summary>
    <div *ngFor="let secretKeywor of configRepo.initKeywords; let i = index"
        class="">
        <select class="form-control form-control-sm m-1 col-9"
                [(ngModel)]='initObj["Keywords:"][i]'
                ngDefaultControl>
            <option *ngFor="let keywordOption of keywordsList"
                    ngDefaultControl
                    [value]="keywordOption"
                    class="">
                {{keywordOption}}
            </option>
        </select>
    </div>
</details>

<button class=" col-12 btn btn-primary" (click)="onApply()">Apply change</button>

