
<div *ngFor="let currElement of selectedConfigurationElementsArr">
    <div *ngIf="isAnArray(currElement[1])" class="card m-1 p-1 bg-secondary text-light">
        {{currElement[0]}}
        <div *ngFor="let currElement_lvl_1 of getElementsFromCompositeElement(currElement[1])" class="card m-1 p-1 bg-light text-muted">
            <div *ngIf="isAnArray(currElement_lvl_1[1])">
                {{currElement_lvl_1[0]}}
            </div>
            <div *ngIf="isAnObject(currElement_lvl_1[1])">
                {{currElement_lvl_1[0]}}
            </div>
            <dl *ngIf="isPrimitive(currElement_lvl_1[1])" class="d-flex px-0 ">
                <dt class="col-7 text-right px-0 ">{{currElement_lvl_1[0]}}:</dt>
                <dd class="col-4 text-left px-1  align-text-bottom">{{currElement_lvl_1[1]}}</dd>
            </dl>
        </div>
    </div>
    <div *ngIf="isAnObject(currElement[1])" class="card m-1 p-1 bg-secondary text-light">
        {{currElement[0]}}
        <div *ngFor="let currElement_lvl_1 of  getElementsFromCompositeElement(currElement[1])" class="card m-1 p-1 bg-light text-muted">
            <div *ngIf="isAnArray(currElement_lvl_1[1])">
                {{currElement_lvl_1[0]}}
            </div>
            <div *ngIf="isAnObject(currElement_lvl_1[1])">
                {{currElement_lvl_1[0]}}
            </div>
            <dl *ngIf="isPrimitive(currElement_lvl_1[1])" class="d-flex px-0 ">
                <dt class="col-7 text-right px-0 ">{{currElement_lvl_1[0]}}:</dt>
                <dd class="col-4 text-left px-1  align-text-bottom">{{currElement_lvl_1[1]}}</dd>
            </dl>
        </div>
    </div>
    <dl *ngIf="isPrimitive(currElement[1])" class="d-flex px-0 ">
        <dt class="col-7 text-right px-0 ">{{currElement[0]}}:</dt>
        <dd class="col-4 text-left px-1  align-text-bottom">{{currElement[1]}}</dd>
    </dl>
</div>