<div class="">
  <form class="pl-1 border border-seconday rounded mb-2 mx-1"
        [class.pp-removed]="!configRepo.featureUpdatePassword">
    <div class="form-row align-items-center">
      <div class="form-group col-9 mb-1">
        <label for="pp-password-settting" class="text-muted">Password:</label>
        <input type="text" 
              class="form-control" 
              id="pp-password-settting" 
              placeholder="Password" 
              name="password" 
              [(ngModel)]="configRepo.initPassword">
      </div>
      <div class="d-flex col-3">
        <button type="button" 
              class="btn btn-primary m-1 flex-fill" 
              (click)="onReset()">
              <i class="fa fa-refresh"></i>
              Reset
        </button>
      </div>
    </div>
  </form>

  <div class="border border-seconday rounded mx-1">
    <p class="px-1 mb-0 mt-1 text-muted">
      List of Secret-keywords / Secret-questions:
    </p>
    <div class="d-flex flex-column m-1 ">
        <div *ngFor="let keyword of keywordsStrArr; let i = index"
        class="border rounded-pill pl-2 pp-suggested-secret-keyword-line">
          <b>{{i + 1}}:</b>
          <hint-text [keyword]="configRepo.initKeywords[i]" question="true"></hint-text>
        </div>
    </div>
    <div class="d-flex m-1">
      <button type="button" 
            class="btn btn-primary flex-fill mb-1"
            (click)="onShuffle()">
        <i class="fa fa-random"></i> Shuffle
      </button>
    </div>
  </div>
</div>