<div class="border border-seconday rounded mx-1 p-1">

  <div class="d-flex">
    <strong class="pp-left-place-holder">0:</strong>
    <div class="pp-vertical-keyword-category text-right border-right border-secondary"
         *ngFor="let categoryName of keywordsCategoryNames; let last = last"
         [class.font-weight-bold]="last"
         [class.border-right-0]="last">
      {{categoryName}}
    </div>
  </div>

  <div *ngFor="let keyword of keywordsStrArr; let i = index"
       class="py-1 d-flex pp-suggested-secret-keyword-line">
    <strong>{{i + 1}}:</strong>

    <div class="btn-group btn-group-toggle flex-fill "
        ngbRadioGroup [name]="i"
        (change)="onKeywordCategoryChange(i, $event.target)"
        [(ngModel)]="radioBtnsValueArr[i]">
      <label ngbButtonLabel class="btn-primary p-1 mb-0 border border-secondary"
            *ngFor="let categoryName of keywordsCategoryNames; let j = index; let last = last; let first = first"
            placement="bottom" [ngbTooltip]="categoryName"
             [class.btn]="radioBtnHidden"
             [class.rounded-left]="first"
             [class.rounded-right]="last">
        <input ngbButton type="radio" [value]="j"
               [data-category]="keywordsService.keywordsCategoryType[i]">
      </label>
    </div>

    <select class="form-control form-control-sm mx-1 pt-1 flex-fill pp-select-overflow"
            [(ngModel)]="configRepo.initKeywords[i]"
            >
      <option *ngFor="let keywordOption of getOptionalSecretKeywordsByKeyword(configRepo.initKeywords[i])"
              class="">
        {{keywordOption}}
      </option>
    </select>

  </div>

  <div class="d-flex mx-1 mt-1">
    <button type="button"
          class="btn btn-primary mb-1 flex-fill"
          (click)="onShuffle()">
      <i class="fa fa-random"></i> Shuffle
    </button>
  </div>
  <div class="d-flex mx-1 mt-0">
    <button type="button"
          class="btn btn-primary btn-sm flex-fill"
          [ngbTooltip]="'No demo implementation'">
      <small>Add Exclusive Picture</small>
    </button>
    <button type="button"
          class="btn btn-primary btn-sm ml-1 flex-fill"
          [ngbTooltip]="'No demo implementation'">
      <small>Modify Exclusive Picture</small>
    </button>
  </div>
  <div class="d-flex mx-1 mt-1">
    <button type="button"
          class="btn btn-primary btn-sm flex-fill"
          [ngbTooltip]="'No demo implementation'">
      <small>Add Exclusive Question</small>
    </button>
    <button type="button"
          class="btn btn-primary btn-sm ml-1 flex-fill"
          [ngbTooltip]="'No demo implementation'">
      <small>Modify Exclusive Question</small>
    </button>
  </div>
</div>
