<div class="border border-seconday rounded mx-1 p-1">
  <p class="px-1 mb-0 mt-1 text-muted">
    List of Secret-keywords:
  </p>
  <div class="d-flex">
    <div id="pp-premium-categories-header" class="text-muted">
      <small>Secret keyword category</small>
    </div>
    <div class="m-0 text-truncate">
      <p class="m-0 text-muted"><small class="">Suggested secret question for designated keyword:</small></p>
      <p class="m-0"><hint-text [question]="true" updateHintOnEvent="true"></hint-text>&nbsp;</p>
    </div>
  </div>
  <div *ngFor="let keyword of keywordsStrArr; let i = index" 
       class="d-flex m-0 pp-suggested-secret-keyword-line"
       [id]="setRowId(i)"
       (mouseover)="readRowId(i)"
       (mouseleave)="resetRowId()"
       >
    <b>{{i + 1}}:</b>
    <div class="btn-group btn-group-toggle flex-fill ml-1" 
         ngbRadioGroup name="radioBasic"
         (change)="onKeywordCategoryChange(i, $event.target)"
         [(ngModel)]="radioBtnsValueArr[i]">
      <label ngbButtonLabel class="btn-primary py-0 border border-right">
        <input ngbButton type="radio" [value]="0"> noun
      </label>
      <label ngbButtonLabel class="btn-primary py-0 border border-right">
        <input ngbButton type="radio" [value]="1"> verb
      </label>
      <label ngbButtonLabel class="btn-primary py-0 border border-right">
        <input ngbButton type="radio" [value]="2"> descr
      </label>
    </div>
    <select class="form-control form-control-sm mx-1 flex-fill" [(ngModel)]="configRepo.initKeywords[i]">
      <option *ngFor="let keywordOption of getOptionalSecretKeywordsByKeyword(configRepo.initKeywords[i])" 
              class="">
        {{keywordOption}}
      </option>
    </select>
  </div>

  <div class="d-flex mx-1 mt-2">
    <button type="button" 
          class="btn btn-primary mb-1 flex-fill"
          (click)="onShuffle()">
      <i class="fa fa-random"></i> Shuffle
    </button>
  </div>
</div>