<title-header title="Subscriber's Settings"></title-header>

<ul ngbNav #nav="ngbNav"
    [(activeId)]="subscriptionTabService.currentSubscriptionTab"
    class="nav-tabs nav-fill">
  <li [ngbNavItem]="0" >
    <a ngbNavLink><i class="fa fa-users"></i> Community</a>
    <ng-template ngbNavContent>
        <community-section></community-section>
    </ng-template>
  </li>
  <li [ngbNavItem]="1" [disabled]="!configRepo.featurePremiumSubscriberSettings">
    <a ngbNavLink><i class="fa fa-user"></i> Premium</a>
    <ng-template ngbNavContent>
        <premium-section></premium-section>
    </ng-template>
  </li>
  <li [ngbNavItem]="2" [disabled]="!configRepo.featureExclusiveSubscriberSettings">
    <a ngbNavLink><i class="fa fa-user-plus"></i> Exclusive</a>
    <ng-template ngbNavContent >
        <exclusive-section></exclusive-section>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
<div>
  <h6 class="mt-2">Skeletal words for secret phrase:</h6>
  <span *ngFor="let keyword of currentSecretKeywords"
        class="border rounded-pill border-secondary px-1 m-0">
    {{keyword}}
</span>
</div>

<div class="d-flex bg-light mt-1">
  <button type="button"
    class="btn btn-primary flex-fill"
    (click)="onOK()">
    <i class="fa fa-check-circle"></i>
    OK
  </button>

  <button type="button"
    class="btn btn-primary flex-fill mx-1"
    (click)="onCancel()">
    <i class="fa fa-times-circle"></i>
    Cancel
  </button>

  <button type="button"
    class="btn btn-primary flex-fill"
    (click)="onDefault()">
    <i class="fa fa-home"></i>
    Defaults
  </button>
</div>
