@font-face {
    font-family: 'Bohemian';
    src: url('Bohemian-Typewriter.ttf');
  }

.bg-f{background-color: #fff;}
.bg-e{background-color: #eee;}
.bg-d{background-color: #ddd;}
.bg-c{background-color: #ccc;}
.bg-b{background-color: #bbb;}
.bg-a{background-color: #aaa;}
.bg-9{background-color: #999;}
.bg-8{background-color: #888;}

.picpass-font{
    font-family: Bohemian,GNUTypewriter,monospace;
}
.card{
    height: 480px; 
    width: 320px;
}

.card-body{
    min-width: 288px;
}

.form-group{
    min-width: 288px;
}

.header-title{
    font-size: x-large;
    background-image: url("polished-metal-plate.jpg");
    background-size: cover;
}


.footer-title{
    font-family: GNUTypewriter;
    font-size: xx-small;
}


