.pp-suggested-secret-keyword-line:hover {
    background-color: lightgray;
}

.pp-img {
    width: 100%; 
    height: 100%;
    display:block;
    opacity: 1.0;
    transition: opacity 3s ease;
    transition-delay: 2s;
}

.pp-img-hover {
    opacity: 0.15;
}

.pp-keywords {
    overflow: auto;
    width: 100%;
    height: 100%;
}

.pp-img-keywords {
    overflow: auto;
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    top: 0px;
    left: 0px;
    opacity: 0.05;
    transition: opacity 3s ease;
    transition-delay: 2s;
}

.pp-img-keywords:hover {
    opacity: 1.0;
}

.pp-detail {
    display: none;
}

.pp-figure {
    background-color: lightgray;
    position: relative;
}

.pp-target-img {
    transform: scale(0.95);
    border: 3px inset gray;
}

.pp-progresbar-arrow {
    padding-inline: 0.5em; 
    text-align: center;
}

.pp-progressbar-position {
    border-radius: 2px 25px 25px 2px;
    border: 2px solid #007bff;
}

.pp-muted-text {
    opacity: 0.05;
}

.pp-vertical-keyword-category {
    writing-mode: vertical-lr;
    line-height: 1.38;
}

.pp-left-place-holder {
    visibility: hidden;
}

.pp-select-overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;     
}

#pp-premium-categories-header {
    min-width: 199px; 
    align-self: flex-end;
    text-align: center;
}

.pp-removed {
    display: none  !important;
}